<div class="container grid">
  <div class="form-group label"><%=t(:arabic_title)%></div>
  <div class="item"><%= f.text_field :title_ar, class: "item", autofocus: true, autocomplete: "name-en" %></div>
</div>

<br />

<div class="container grid">
  <div class="form-group label"><%=t(:english_title)%></div>
  <div class="item"><%= f.text_field :title_en, class: "item", autocomplete: "name-ar", required: true %></div>
</div>

<br />

<div class="container grid">
  <div class="form-group label"><%=t(:arabic_description)%></div>
  <div class="item"><%= f.text_area :description_ar, autofocus: true, autocomplete: "description-en", required: true, size: "52x5", style: "border: 1px solid #ccc; border-radius: 5px;" %></div>
</div>

<br />

<div class="container grid">
  <div class="form-group label"><%=t(:english_description)%></div>
  <div class="item"><%= f.text_area :description_en, autofocus: true, autocomplete: "description-ar", required: true, size: "52x5", style: "border: 1px solid #ccc; border-radius: 5px;"%></div>
</div>

<br />

<div class="container grid">
  <div class="form-group label"><%=t(:announcement_type)%></div>
  <div class="item"><%= f.select(:announcement_type, t(Announcement.announcement_types.keys), {}, {:class => "item" })%></div>
</div>

<br />

<div class="container grid">
  <div class="form-group label"><%=t(:user_type)%></div>
  <div class="item"><%= f.select(:user_type,t(Announcement.user_types.keys), {}, {:class => "item" })%></div>
</div>

<br />

<div class="container grid">
  <div class="form-group label"><%=t(:attachment)%></div>
  <%= f.file_field :attachment, required: true%><br />
</div>

<br />