<p id="notice"><%= notice %></p>

<button class="btn btn-back">
  <%= link_to subject_classes_path(subject_id: @subject_class.subject_id) do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</button>

<div class="row justify-content-md-center">
  <div class="col-md-6 col-lg-12 border shadow-sm rounded p-3 mt-5 mb-3">
    <div class="one-liner">
      <h1><%= @subject_class.subject.name_en %> <%= @subject_class.number %> Time Table</h1>
      <button class="btn btn-add">             
        <%= link_to new_time_table_path(subject_class_id: @subject_class.id) do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </button>
    </div>
    <br/>

    <table class="table table-striped">
      <thead>
        <tr class="label">
          <th class="col-1">Period</th>
          <th class="col-1">Day</th>
          <th class="col-1"></th>
        </tr>
      </thead>

      <tbody>
        <% @time_tables.each do |time_table| %>
          <tr>
            <td><%= time_table.period%></td>
            <td><%= time_table.day %></td>            
            <td>             
              <button>
                <%= link_to edit_time_table_path(time_table, subject_class_id: @subject_class.id) do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>
              </button>
              <button>                
                <%= link_to time_table, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </button>              
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>    
  </div>
</div>