<button class="btn btn-back">          
  <%= link_to applicants_path do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</button>

<br>
<br>


<div class="row justify-content-md-center">
    <div class="col-md-6 col-lg-12 border shadow-sm rounded p-3 mt-5 mb-3">


    <h1><%=t(:edit_applicant)%></h1>

    <br/>


    <%= form_for(@applicant, url: applicant_path, method: :put) do |f| %>

    <%= render partial: "form", locals: { f: f } %>
    <br/>


  <div class="form-group text-center">
    <%= f.submit t(:update), class: "btn btn-primary" %>
  </div>
<% end %>
  </div>
</div>

