<p id="notice"><%= notice %></p>

<div class="row justify-content-md-center">
  <div class="col-md-6 col-lg-12 border shadow-sm rounded p-3 mt-5 mb-3">
    <div class="one-liner">
      <h1><%= t(:applicants) %></h1>
    </div>
    <br/>

    <table class="table table-striped">
      <thead>
        <tr class="label">
          <th class="col-1">#</th>
          <th class="col-1"><%= t(:registration_date) %></th>
          <th class="col-2"><%= t(:full_name) %></th>
          <th class="col-1"><%= t(:preparatory_school) %></th>
          <th class="col-1"><%= t(:grade) %></th>
          <th class="col-2"><%= t(:parent_phone) %></th>
          <th class="col-2"><%= t(:major_first_choice) %></th>
          <th class="col-2"><%= t(:major_second_choice) %></th>
          <th class="col-1"><%= t(:notes) %></th>
          <th class="col-1"><%= t(:registration_status) %></th>
          <th class="col-1"><%= t(:contact_status) %></th>
          <th class="col-1"><%= t(:school_notes) %></th>
        </tr>
      </thead>

      <tbody>
        <% @applicants.each do |applicant| %>
          <tr>
            <td><%= applicant.id %></td>
            <td><%= applicant.created_at.strftime('%d/%m/%Y') %></td>
            <td><%= applicant.full_name %></td>
            <td><%= applicant.preparatory_school %></td>
            <td><%= applicant.grade %></td>
            <td><%= applicant.parent_phone %></td>
            <td><%= I18n.locale == :en ? applicant.major_first_choice.name_en : applicant.major_first_choice.name_ar %></td>
            <td><%= I18n.locale == :en ? applicant.major_second_choice.name_en : applicant.major_second_choice.name_ar %></td>
            <td><%= applicant.notes %></td>
            <td><%= applicant.registered? ? t(:registered) : t(:not_registered)%></td>
            <td><%= applicant.contacted? ? t(:contacted) : t(:not_contacted)%></td>
            <td><%= applicant.school_notes %></td>
            <td>
              <button>                
                <%= link_to edit_applicant_path(applicant) do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>
              </button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>    
  </div>
</div>