<p id="notice"><%= notice %></p>

<div class="row justify-content-md-center">
  <div class="col-md-6 col-lg-12 border shadow-sm rounded p-3 mt-5 mb-3">
    <div class="one-liner">
      <h1>Academic Years</h1>
      <button class="btn btn-add">             
        <%= link_to new_academic_year_path do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </button>
    </div>
    <br/>

    <table class="table table-striped">
      <thead>
        <tr class="label">
          <th class="col-1">Start Date</th>
          <th class="col-1">End Date</th>
          <th class="col-1">Semester</th>
          <th class="col-1">Year</th>
          <th class="col-1">Status</th>
          <th class="col-1"></th>
        </tr>
      </thead>

      <tbody>
        <% @years.each do |year| %>
          <tr>
            <td><%= year.start_date %></td>
            <td><%= year.end_date %></td>
            <td><%= year.semester %></td>
            <td><%= year.year %></td>
            <td><%= year.status %></td>
            <td>
              <button>                
                <%= link_to year do %>
                  <i class="fas fa-eye"></i>
                <% end %>
              </button>
              <button>                
                <%= link_to year, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </button>              
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>    
  </div> 
</div>