<p id="notice"><%= notice %></p>

<div class="row justify-content-md-center">
  <div class="col-md-6 col-lg-12 border shadow-sm rounded p-3 mt-5 mb-3">
    <div class="one-liner">
      <h1><%= t(:majors) %></h1>
      <button class="btn btn-add">             
        <%= link_to new_major_path do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </button>
    </div>
    <br/>

    <table class="table table-striped">
      <thead>
        <tr class="label">
          <th class="col-1"><%= t(:name) %></th>
          <th class="col-5"><%= t(:description) %></th>
          <th class="col-1"><%= t(:majors_status) %></th>
          <th class="col-1"><%= t(:actions) %></th>
          <th class="col-1"></th>
        </tr>
      </thead>

      <tbody>
        <% @majors.each do |major| %>
          <tr>
            <td><%= I18n.locale == :en ? major.name_en : major.name_ar %></td>
            <td><%= I18n.locale == :en ? major.description_en : major.description_ar %></td>
            <td><%= major.status == 'active' ? t(:active) : t(:not_active) %></td>
            <td>
              <button>                
                <%= link_to major do %>
                  <i class="fas fa-eye"></i>
                <% end %>
              </button>
              <button>                
                <%= link_to edit_major_path(major) do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>
              </button>
              <button>                
                <%= link_to major, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </button>              
            </td>
            <td>
              <%= link_to t(:subjects), subjects_path(major_id: major.id)%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>    
  </div>
</div>