<%= link_to majors_path do %>
  <button class="btn btn-back">          
    <i class="fas fa-arrow-left"></i>
    </button>
<% end %>

<br><br>

<h1><%= t(:create_major) %></h1>

<br>


<table border="20" bordercolor="white" bgcolor="white" cellpadding="10">

<tr><td>
  <%= form_for(@major, url: majors_path, method: :post) do |f| %>

    <%= render partial: "form", locals: { f: f } %>
</td></tr>

<tr><td>
  <div class="actions" align="right">
    <%= f.submit t(:create_major), class:"update-btn" %>
  </div>
  <% end %>
</td></tr>

</table>