<div class="container grid">
  <div class="form-group label">English Name</div>
  <div class="item"><%= f.text_field :name_en, class: "item", placeholder: "English Name"%></div>
</div>

<br>

<div class="container grid">
  <div class="form-group label">Arabic Name</div>
  <div class="item"><%= f.text_field :name_ar, class: "item", placeholder: "Arabic Name"%></div>
</div>

<br>

<div class="container grid">
  <div class="form-group label">English Description</div>
  <div class="item"><%= f.text_area :description_en, autofocus: true, autocomplete: "description-en", size: "50x5" %></div>
</div>

<br>

<div class="container grid">
  <div class="form-group label">Arabic Description</div>
  <div class="item"><%= f.text_area :description_ar, autocomplete: "description-ar", required: true, size: "50x5"%></div>
</div>

<br>

<div class="container grid">
  <div class="form-group label">Semester</div>
  <div class="item"><%= f.select(:semester, Subject.semesters.keys, {}, {:class => "item" })%></div>
</div>