<p id="notice"><%= notice %></p>

<button class="btn btn-back">
  <%= link_to subjects_path(major_id: @subject.major_id) do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</button>

<div class="row justify-content-md-center">
  <div class="col-md-6 col-lg-12 border shadow-sm rounded p-3 mt-5 mb-3">
    <div class="one-liner">
      <h1><%= @subject.name_en %> Classes</h1>
      <button class="btn btn-add">             
        <%= link_to new_subject_class_path(subject_id: @subject.id) do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </button>
    </div>
    <br/>

    <table class="table table-striped">
      <thead>
        <tr class="label">
          <th class="col-1">Year</th>
          <th class="col-1">Number</th>
          <th class="col-2">Teacher</th>
          <th class="col-2">Actions</th>
          <th class="col-1"></th>
        </tr>
      </thead>

      <tbody>
        <% @subject_classes.each do |subject_class| %>
          <tr>
            <td><%= subject_class.academic_year.year%></td>
            <td><%= subject_class.number %></td>
            <% if subject_class&.subject_class_teachers.blank? %>
              <td>
                <%= link_to 'Click here to add a teacher', new_subject_class_teacher_path(subject_class_id: subject_class.id)%>
              </td>
            <% else %>
              <td><%= subject_class&.subject_class_teachers&.first&.user&.full_name_en %></td>
            <% end %>
            <td>             
              <button>                
                <%= link_to edit_subject_class_path(subject_class, subject_id: @subject.id) do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>
              </button>
              <button>                
                <%= link_to subject_class, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </button>              
            </td>
            <td>
              <%= link_to 'Students', subject_class_students_path(subject_class_id: subject_class.id)%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>    
  </div>
</div>